/*
# Allow the configuration files
!.gitignore
!.gitattributes

# Allow CI workflows
!.github/
!.github/**

# Allow licensing and project docs
!LICENSE
!README.md
!CONTRIBUTING.md

# Allow a specific folder structure (must match directories first)
!package/
package/*
!package/luci-app-rist2rist/
!package/luci-app-rist2rist/**